.title img{
    width: 400PX;
    height: 250px;
    padding: 1px;
    background-position: center;
    border-radius: 5px;
}

.title_wrapper{
    cursor: pointer;
    padding:5px;
    margin: 10px;
    background-color: #000000/*#FBEEC1*/;

}
.selected{
    border : 6px solid #376a37;
    border-radius: 10px;

}
.card{
    background-color: rgb(168, 201, 190);
    /* background-color: #B1A296; */
}
.Name{
    font-size: 30px;
    font: bolder;
    font-style: oblique;
    color: aliceblue;
}
